body {
    font-family: Arial;
    background: #f2f2f7;
    text-align: center;
    margin-top: 100px;
}

input {
    width: 350px;
    padding: 12px;
    font-size: 18px;
}

#predictionBar {
    margin-top: 10px;
}

.suggestion {
    display: inline-block;
    margin: 5px;
    padding: 8px 12px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
}
