body {
    background: #000;
    color: white;
    font-family: Arial;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.container {
    text-align: center;
}

input {
    width: 400px;
    padding: 12px;
    font-size: 18px;
    border-radius: 10px; /* smooth edges */
    border: none;
    outline: none;
}

/* Prediction bar */
#predictionBar {
    margin-top: 15px;
}

/* Prediction buttons */
.suggestion {
    display: inline-block;
    margin: 5px;
    padding: 8px 14px;
    background: #1c1c1e;
    border-radius: 8px;
    cursor: pointer;
}

.suggestion:hover {
    background: #333;
}
